form{
  margin: 10px;
  width: 80%;
  overflow: hidden;
}
.loginForm input{
  padding: 5px;
  margin: 5px auto;
  font-size: 16px;
  border: 2px solid #448dde;
  border-radius: 5px;
  text-align: center;
  width: calc(100% - 20px);
}
.loginForm input[type=submit], .loginForm a{
  color: #448dde;
  padding: 10px;
  margin-top: 20px;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
}
.loginForm input[type=submit]:hover{
  color: #36CA80;
}
.loginForm a:hover{
  color: #448dde;
}
.loginForm a{
  color: #C3C0C0;
  font-size: 14px;
  margin-top: 0px;
}
