.no-groups{
  padding: 20px;
}



.Checklist_footer{
  background-color: #F3F4F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Checklist_footer a{
  font-size: 20px;
  color: #DBDBDB;
  padding: 15px;
  border: 0px;
  cursor: pointer;
}
.Checklist_footer a:hover{
  color: #448DDE;
}
